---
import { Image } from 'astro:assets';
import Certificado from "/src/imagenes/iconos/certificado.svg";
import Certificacion from "/src/imagenes/iconos/certificacion.svg";
import Educacion from "/src/imagenes/iconos/educacion.svg";

interface Props {
	titulo: string;
	instituto: string;
	periodo: string;
	icono: 'certificado' | 'certificacion' | 'educacion';
}

const { titulo, instituto, periodo, icono } = Astro.props;


const galeria = {
	certificado: Certificado,
	certificacion: Certificacion,
	educacion: Educacion,
}
---

<div id="certificados" class="flex items-center *:p-2">
	<Image src={galeria[icono]} alt={`Icono de un ${icono}`} class="size-14" />
	<div>
		<h3 class="font-bold max-md:text-sm">{titulo}</h3>
		<p class="max-md:text-xs"><em>{instituto}</em></p>
		<p class="max-md:text-xs">{periodo}</p>
	</div>
</div>